In [47]:
import sys
import os
sys.path.append(os.path.abspath(".."))

In [48]:
import pandas as pd
from prepare_data.data_loader import load_data

df = load_data("../data/raw/_annotations.coco.json")
print(df.head())

   id  license                                          file_name  height  \
0   0        1  cl6e1qges001kgk555z158f33_2_FALSE_COLOR_jpg.rf...     860
1   1        1  cl6kgm9qr002yc455g5qs87kz_2_FALSE_COLOR_jpg.rf...     860
2   2        1  cl6odzs5e002oao55heuig0a6_1_TRUE_COLOR_jpg.rf....     860
3   3        1  cl6b6pieh007rl455fwvb73gr_1_TRUE_COLOR_jpg.rf....     860
4   4        1  cl6b5k38g003zl455bgtd1317_4_FALSE_COLOR__URBAN...     860

   width              date_captured  \
0   1200  2025-09-14T12:06:19+00:00
1   1200  2025-09-14T12:06:19+00:00
2   1200  2025-09-14T12:06:19+00:00
3   1200  2025-09-14T12:06:19+00:00
4   1200  2025-09-14T12:06:19+00:00

                                          extra.name  image_id  category_id  \
0        cl6e1qges001kgk555z158f33_2_FALSE_COLOR.jpg         1            1
1        cl6kgm9qr002yc455g5qs87kz_2_FALSE_COLOR.jpg         2            1
2         cl6odzs5e002oao55heuig0a6_1_TRUE_COLOR.jpg         2            1
3         cl6b6pieh007rl455fwvb73gr_1_TRUE_COLOR.jpg         2            1
4  cl6b5k38g003zl455bgtd1317_4_FALSE_COLOR__URBAN...         2            1

                         bbox        area segmentation  iscrowd
0  [277, 207, 568.95, 591.79]  336698.921           []        0
1    [800, 0, 157.45, 413.38]   65086.681           []        0
2    [1062, 96, 58.37, 63.91]    3730.427           []        0
3   [452, 442, 410.09, 350.6]  143777.554           []        0
4    [0, 163, 336.16, 375.08]  126086.893           []        0

In [49]:
#print(df)

In [50]:
df.describe()

,id,license,height,width,image_id,category_id,area,iscrowd
count,500.000000,500.0,500.0,500.0,500.000000,500.0,5.000000e+02,500.0
mean,249.500000,1.0,860.0,1200.0,129.628000,1.0,1.031255e+05,0.0
std,144.481833,0.0,0.0,0.0,76.002885,0.0,1.698016e+05,0.0
min,0.000000,1.0,860.0,1200.0,1.000000,1.0,2.070000e-01,0.0
25%,124.750000,1.0,860.0,1200.0,62.000000,1.0,1.029772e+04,0.0
50%,249.500000,1.0,860.0,1200.0,130.000000,1.0,3.670679e+04,0.0
75%,374.250000,1.0,860.0,1200.0,198.000000,1.0,1.117637e+05,0.0
max,499.000000,1.0,860.0,1200.0,255.000000,1.0,1.032000e+06,0.0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             500 non-null    int64
 1   license        500 non-null    int64
 2   file_name      500 non-null    object
 3   height         500 non-null    int64
 4   width          500 non-null    int64
 5   date_captured  500 non-null    object
 6   extra.name     500 non-null    object
 7   image_id       500 non-null    int64
 8   category_id    500 non-null    int64
 9   bbox           500 non-null    object
 10  area           500 non-null    float64
 11  segmentation   500 non-null    object
 12  iscrowd        500 non-null    int64
dtypes: float64(1), int64(7), object(5)
memory usage: 50.9+ KB

In [52]:
compte_par_colonne = df.isnull().sum()
print(compte_par_colonne)

id               0
license          0
file_name        0
height           0
width            0
date_captured    0
extra.name       0
image_id         0
category_id      0
bbox             0
area             0
segmentation     0
iscrowd          0
dtype: int64

In [53]:
import json
import pandas as pd

from prepare_data.data_loader import load_data

df_images, df_annotations, df_categories, df_merged, json_data = load_data("../data/raw/_annotations.coco.json")

#Nombre total d’image
#Nombre total d’annotations

n_images = len(df_images)
n_annotations = len(df_annotations)
print(f"Nombre total d'images : {n_images}")
print(f"Nombre total d'annotations : {n_annotations}")

#Quelles sont les catégories ?


#Nombre d’image par catégories


#Des statistiques sur le nombre d’annotation par image

ValueError: too many values to unpack (expected 5)